{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-3">
                    <h4 class="card-title mb-4">Lista de movimentações</h4>

                    <a href="#">
                        <button type="button" class="btn btn-icons btn-rounded btn-primary">
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </a>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Data</th>
                            <th>Valor (em R$)</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Bolo para café da tarde</td>
                            <td>17/07/2021</td>
                            <td>R$ 10,00</td>
                            <td>
                                <label class="badge badge-danger">Despesa</label>
                            </td>
                        </tr>

                        <tr>
                            <td>Recebimento freelancer</td>
                            <td>15/07/2021</td>
                            <td>R$ 120,00</td>
                            <td>
                                <label class="badge badge-success text-white">Receita</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
